/* 
    Document   : site
    Created on : 12/07/2012, 12:20:22 PM
    Author     : staff2
    Description:
        Purpose of the stylesheet follows.
*/

#header { 
    width:100%;
    height:300px;   
}
#logo {
    width:100%;
    height:240px;
    background-image:url("../images/header.png");
    background-position: center;
    background-repeat: no-repeat;
}
#header-menu{
    background-color:rgb(70,157,190);
    width:100%;
    height:60px;
    text-align: center;
}

#header-menu a{
   text-decoration:none;
   color:black;
}

#header-menu a:hover {
    color:white;
}

#header-menu ul{
    list-style-type:none;
   
}

#header-menu ul li{
    display:inline;
    float:left;
    margin:10px;
    font-size:2em;
}

.side-menu{
    list-style-type:none;
}
#content {
    width:100%;
    min-height: 400px;
}

.listfield{
    font-size:1.5em;
    width:15%;
    text-align:left;
    vertical-align: top;
    min-height: 400px;
}

.editfield{
    width:85%;
}

#view-content {
    padding-left:20px;
}

#footer {
    background-color:grey;
    width:100%;
    height:100px;
}

#footer p{
    margin:20px;
    padding-top:40px;
}
.product_list {
    border-collapse:collapse;
    width: 80%;
    margin: 30px;
    margin-top: 80px;
} 

.product_list caption {
    font-size:2em;
}

.product_list tr:first-child {
    background:	#C85A17;
}

.product_list tr:nth-child(even) {
    color: white;
    background-color:#306EFF;
}

.product_list td{
    border:solid 1px black;  
}

.left-bar {
    min-height: 500px;
    
}

.right-bar {
    min-height: 500px;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    background-color:#FDD017;
}

.Add-button {
    padding:5px 8px 5px 8px;
    position:absolute;
    background-color:#306EFF;
    border:solid black 1px;
    border-radius:5px;
    left:800px;
}


/* begin of product-view-table */
#product-content {
    margin:2em;
}

.product-view {
    float:left;
    width:300px;
    border-collapse: collapse;
}

.product-view td {
    border: #000000 solid 1px;
}

.product-image {
    float:left;
}
/* end of product-view-table */

.loading {
    position:absolute;
    padding:30px;
    top:500px;
    left:400px;
    background-color:#1c94c4;
    color:#333333;
    border: #000000 solid 1px;
}

.category_list {
    list-style: none;
    font-size: 1.2em;
}